@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.register-container {
  margin-top: 8px;
  padding: 20px;
  max-width: 400px;
  background-color: rgba(247, 247, 247, 0.945);
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Aleo', serif;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;
}


.register-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-size: 18px;
}

input, select {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Aleo', serif;
}

input::placeholder {
    font-size: 16px;
    color: #888;
    font-family: 'Aleo', serif;
}

.register-container button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 130px;
    margin: 0 auto;
}

button:hover {
    background-color: #45a049;
}

.signup-text {
    margin-top: 12px;
    font-size: 17px;
}

.signup-text a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.error-border {
    border-left: 6px solid red;
}

.error-text {
    color: red;
    font-size: 16px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
